.sub{
    width: 40%;
    margin: 50px auto;
    border:  0.5px  solid #382284;
    border-radius:10px;
    padding: 10px 20px 10px 70px;
}

.w{
    border-bottom: 0.5px solid  #382284;
    padding: 0;
    display:inline;
}